.frst {
    display: inline-block;
    width: 100px;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 8px;

    border-color: white;
    padding-bottom: 5px;

}

.secnd {
    display: inline-block;
    margin-left: 10px;
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 8px;
    border-color: white;
}

.emaill {
    display: block;
    margin-left: 30px;
    width: 260px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    border-radius: 8px;
    border-color: white;

}

.sign-up {
    display: block;
    margin-left: 30px;
    border-radius: 8px;
    border: none;
    width: 260px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: rgb(101, 113, 192);
    color: rgb(24, 23, 23);

}

/* yfu */
a {
    margin-left: 10px;
}

div {
    margin-left: 10px;
}

.my {
    margin-left: 30px;
    color: black;
    font-size: 50px;
    font-family: 'chiller';
    text-align: center;
    margin-top: 100px;

}

.my3 {
    margin-left: 30px;
    color: rgb(51, 0, 255);
    font-size: 50px;
    font-family: 'chiller';
    text-align: center;
    margin-top: 100px;

}

.my2 {
    margin-left: 30px;
    color: rgb(220, 106, 174);
    font-size: 50px;
    font-family: 'chiller';
    text-align: center;
    margin-top: 100px;

}

form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

input {
    background-color: rgb(239, 182, 242);
    margin: 0 auto;
    width: 200px;
    border-radius: 5px;
    height: 20px;
    color: rgb(12, 17, 17);
}

.but {
    background-color: rgb(190, 247, 243);
    width: 100px;
    border-right: none;
    border-top: none;
    border-left: none;
    border-radius: 10px;
    height: 25px;
    margin-top: 20px;

}

.header_div {
    margin-left: 30px;
    color: rgb(51, 0, 255);
    font-size: 50px;
    font-family: 'chiller';
    text-align: center;
    margin-top: 100px;
}

.strike {
    text-decoration: line-through;
}